[submodule "src/engine/skia"]
	path = src/engine/skia
	url = https://github.com/friction2d/skia
[submodule "src/gperftools"]
	path = src/gperftools
	url = https://github.com/friction2d/gperftools
[submodule "docs"]
	path = docs
	url = https://github.com/friction2d/friction2d.github.io
