build
tmp
*.user*
qscintilla
quazip
3rdparty
.DS_Store
*.tar
*.zip
*.tar.*
*.dmg
*.deb
*.rpm
*.exe
snapshots
.vscode
build-*
*.diff
*.patch
ffmpeg
*.7z
distfiles
backup
CHANGES.md
friction-distfiles
svgo-linux
svgo-win.exe
skia-build
qt-*
sdk
build-release
src/scripts/flatpak/.flatpak-builder
src/scripts/flatpak/builddir
src/scripts/flatpak/export
src/scripts/flatpak/builder
src/scripts/flatpak/repo
src/scripts/flatpak/remote

