name: macOS

on: [push, pull_request]

jobs:
  release:
    runs-on: macos-13
    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: ./src/scripts/build_mac_ci.sh
    - name: Artifact
      uses: actions/upload-artifact@v4
      with:
        name: friction-ci-macOS-x86_64
        path: build-release/*.dmg
